{% extends 'main/base.html' %}

{% block title %}Checkout | {% endblock %}

{% block content %}

<section class="section pt-1">
<h1 class="title mb-2">Checkout</h1>

    <a class="button is-white mb-4 pl-0" href="{% url 'cart:cart' %}">< Back to cart</a>
    {% if cart %}
    <div class="columns">
        <div class="column is-two-thirds">
            <div class="box">
                <table class="table is-fullwidth">
                    <thead>
                        <th></th>
                        <th>Item</th>
                        <th>Seller</th>
                        <th class="has-text-right">Price</th>
                        <th class="has-text-right">Quantity</th>
                        <th class="has-text-right">Extended Price</th>

                    </thead>
                    <tbody>
                        {% for cart_item in cart %}
                            <tr>
                                <td>
                                    {% if cart_item.listing.image %}
                                    <figure class="image is-64x64 mb-4">
                                        <img src="{{ cart_item.listing.image.image }}">
                                    </figure>
                                    {% else %}
                                    <figure class="image is-64x64 mb-4">
                                        <img src="{{ cart_item.listing.pinventory_content.item.image.image }}">
                                    </figure>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ cart_item.listing.pinventory_content.item.name }}
                                </td>
                                <td>{{ cart_item.listing.pinventory_content.pinventory.owner.username }}</td>
                                <td class="has-text-right">
                                    $ {{ cart_item.listing.price|floatformat:2 }}
                                </td>
                                <td class="has-text-right">
                                    {{ cart_item.quantity }}
                                </td>
                                <td class="has-text-right">
                                    $ {{ cart_item.total_price|floatformat:2 }}
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="has-text-right"><strong>Subtotal</strong></td>
                            <td class="has-text-right"><strong>${{ cart.get_total_price|floatformat:2 }}</strong></td>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="column is-one-third">
            <div class="box">

                <div class="columns">

                    <div class="column">
                        <p><strong>Ship to:</strong></p>
                        {% if not user == AnonymousUser %}
                        <p class="ml-5 mt-2">{{ user.name }}<br>
                            {{ ship_to.street1 }}<br>
                                {% if ship_to.street2 %}
                                    {{ ship_to.street2 }}<br>
                                {% endif %}
                            {{ ship_to.city }}, {{ ship_to.state }} {{ ship_to.postalcode }}</p><br>
                        {% else %}
                        <p class="ml-5 mt-2">AnonymousUser</p><br>
                        {% endif %}
                        <p></p><br>

                        <div class="columns is-mobile">
                            <div class="column is-half">
                                <p><strong>Subtotal</strong></p><br>
                                <p><strong>Shipping</strong></p><br>
                                <p><strong>Sales Tax</strong></p><br>
                                <p><strong>Total</strong></p><br>
                            </div>
                            <div class="column">
                                <form method="post" action="." id="checkout-form">
                                    {% csrf_token %}
                                    <div class="field" id="cart_total">
                                        <p class="has-text-right"><strong>$ {{ cart.get_total_price|floatformat:2 }}</strong></p><br>
                                    </div>
                                    <div class="field" id="shipping">
                                        <p class="has-text-right"><strong>$ {{ shipping }}</strong></p><br>
                                    </div>
                                    <div class="field" id="sales_tax">
                                        <p class="has-text-right"><strong>$ {{ sales_tax }}</strong></p><br>
                                    </div>
                                    <div class="field" id="total_paid">
                                        <p class="has-text-right"><strong>$ {{ total_paid }}</strong></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="box mb-6">
    </div>
</section>
    {% endif %}
{% endblock %}

{% block scripts%}
    <script
        src="https://www.paypal.com/sdk/js?client-id={{ paypal_pub_key }}&disable-funding=credit">
    </script>
<script>

    paypal.Buttons({
        onClick: () => {
        },
        createOrder: function(data, actions) {
             return actions.order.create({
                purchase_units: [{
                    "amount": {
                        "value": '{{ cart.get_total_price|floatformat:2 }}'
                    }
                }]
            })
        },
        onApprove: (data, actions) => {
            const formdata = {
                'gateway': 'paypal',
                'order_id': data.orderID
            }
            console.log(formdata)
            return actions.order.capture().then(function(details){
                return fetch('/orders/checkout/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(formdata)
                })
                .then(function(response) {
                    return response.json()
                    console.log(response)
                })
                .then(function(result) {
                    window.location.href = '{% url 'orders:success' %}';
                })
                .catch(function(error) {
                    console.log('error:', error);
                });
            });
        }
    }).render('#paypal-button-container')

</script>

{% endblock %}

