{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<div class="ps-reset-container">
    <img src="{% static 'img/logo.png'%}" alt="logo">
    <h1>iheartpins</h1>
    <p>Enter you Email to reset your Password</p>
    <div class="Form-Login">
        {% if messages %}
            {% for msg in messages%}
            <div class="alert">
                {{msg}}
            </div>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
           
           <div class='email'>
                <label style="font-weight: bolder;">Email</label><br>
                <input type="email" name="email" class="effect-1" placeholder="Enter Email" id="email"  required />
                <span class="focus-border"></span>
            </div>
            <div>
                <button type="submit" name="login" class='Button-Login' >Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
