{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
    <div class="main-wrapper">
        <div class="main-container">
            <img src="{% static 'img/logo.png'%}" alt="logo">
            <h1>iheartpins</h1>
            <p>Register here to join the online community of pins</p>
            
                {% if messages %}
                    {% for msg in messages%}
                    <div class="message">
                        {{msg}}
                    </div>
                    {% endfor %}
                {% endif %}
            <div class="Form-Login">
                <form method="POST">
                    {% csrf_token %}                   
                    <div class='email'>
                        <label style="font-weight: bolder;">Username</label><br>
                        <input type="text" name="username" class="effect-1" placeholder="Enter Username"  required />
                        <span class="focus-border"></span>
                    </div>
                   <div class='email'>
                        <label style="font-weight: bolder;">Email</label><br>
                        <input type="email" name="email" class="effect-1" placeholder="Enter Email" required />
                        <span class="focus-border"></span>
                    </div>
                    <div class='email'>
                        <label style="font-weight: bolder;">Password</label><br>
                        <input type="password" name="password" class="effect-1" placeholder="Password" required />
                        <span class="focus-border"></span>
                    </div>
                    <div>
                        <button type="submit" name="register" class='Button-Login' >Register</button>
                    </div>
                </form>
            </div>
            <p> Already have an account? <a href="{% url 'login'%}" class="link">Sign In</a></p>
        </div>

        <div class="login-text">
            <h1>Register to iheartpins</h1>
            <p>An Online Community for People who <span style="color: red;">&#9829;</span> Pins</p>
        </div>
    </div>

{% endblock%}



