{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<div class="ps-reset-container">
    <img src="{% static 'img/logo.png'%}" alt="logo">
    <h1>iheartpins</h1>
    <p>Reset your Password Here!</p>
    <div class="Form-Login">
        {% if messages %}
            {% for msg in messages%}
            <div class="message-success">
                {{msg}}
            </div>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
           
            <div class='email'>
                <label style="font-weight: bolder;">Password</label><br>
                <input type="password" name="new_password"  class="effect-1" placeholder="Password" required />
                <span class="focus-border"></span>
            </div>
            <div class='email'>
                <label style="font-weight: bolder;">Confirm Password</label><br>
                <input type="password" name="confirm_password"  class="effect-1" placeholder="Confirm password" required />
                <span class="focus-border"></span>
            </div>
            <input type="hidden" name="user_id" value="{{user_id}}">
            <div>
                <button type="submit" name="login" class='Button-Login' >Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
