{% extends "main/base.html" %}
{% block title %}My Pinventory | {% endblock title %}
{% block content %}
<div class="tabs is-medium is-fullwidth is-boxed">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fas fa-list-ul" aria-hidden="true"></i></span>
        <span>My Pinventory</span>
      </a>
    </li>
      <li>
          <a>
            <span class="icon is-small"><i class="fas fa-heart" aria-hidden="true"></i></span>
            <span>Following</span>
          </a>
      </li>
      <li>
      <a>
        <span class="icon is-small"><i class="fas fa-search" aria-hidden="true"></i></span>
        <span>In Search Of</span>
      </a>
    </li>
      <li>
          <a>
            <span class="icon is-small"><i class="fas fa-exchange-alt" aria-hidden="true"></i></span>
            <span>Transaction History</span>
          </a>
      </li>
      <li>
          <a>
            <span class="icon is-small"><i class="fas fa-envelope" aria-hidden="true"></i></span>
            <span>Messages</span>
          </a>
      </li>
  </ul>
</div>
<div class="columns is-multiline mb-6">
    {% if user.pinventory %}
        {% for item_image in v_images %}
            {% include 'main/parts/v_list_item.html' %}
        {% endfor %}
    {% else %}
        <p>Your pinventory is empty!
            <a href="#"> Search for a pin in our Pindex.</a>
        </p>
    {% endif %}
</div>
{% endblock %}
